# Python
__pycache__/
*.pyc
*.pkl
*.ipynb_checkpoints

# Environment / Secrets
.env
local_settings.py
*.env
.secrets

# Streamlit and system
.streamlit/secrets.toml
.DS_Store

# VS Code or editor configs
.vscode/